.highscore-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light)
}

.score-card {
  margin-top: 20px;
}

.highscore-title {
  font-family: 'Bowlby One SC', cursive;
  color: var(--primary);
  text-shadow: 1px 1px var(--light);
}

.score {
  font-family: 'Bowlby One SC', cursive;
  color: var(--light);
  font-size: 1.75vw;
}

@media screen and (max-width: 900px) {
  .highscore-title {
    font-size: 5vw;
  }
  .score {
    font-size: 3vw;
  }
  .score-card {
    width: 90%;
  }
}