.highscore-div {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light)
}

.score-card {
  margin-top: 20px;
}

.highscore-title {
  font-family: 'Bowlby One SC', cursive;
  color: var(--primary);
  text-shadow: 1px 1px var(--light);
}

.score {
  font-family: 'Bowlby One SC', cursive;
  color: var(--light);
  font-size: 1.75vw;
}