@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto&display=swap");
/* font-family: 'Bowlby One SC', cursive;
font-family: 'Roboto', sans-serif; */

:root {
  --orange: #eb8643;
  --dark: #12263a;
  --light: #e8e5da;
  --gray: #788aa3;
  --blue: #0496ff;
  --test: #160d06;
}

.custom-switch {
  padding-left: 0;
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
}