.submit-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: var(--light);
}

.submit-title {
  margin: 20px 0 20px 0;
  font-family: 'Bowlby One SC', cursive;
  color: var(--primary);
  text-shadow: 1px 1px var(--dark);
}

.text-area {
  margin-bottom: 20px;
}

.submit-editor {
  margin-bottom: 20px;
}

.submit-label {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .submit-title {
    font-size: 5vw;
  }
  .submit-label {
    font-weight: 600;
    font-size: 3vw;
  }
  .text-area {
    width: 80vw;
  }
}