.login-div {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light)
}

.login-title {
  font-family: 'Bowlby One SC', cursive;
  color: var(--light);
}

.signup-submit-button {
  text-align: center;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card {
  text-align: center;
}

.login-input {
  margin-top: 20px;
}